* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bar {
  padding: 30px;
  border: 1px solid #dddddd;
  color: #333333;
}

.header-bar .heading {
  max-width: 600px;
  margin: auto;
  position: relative;
}

.heading img {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.heading nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu > li {
  display: inline-block;
}

.menu > li > a {
  font-weight: 600;
}

.menu li {
  list-style: none;
  position: relative;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
}

.menu li:hover > .sub-menu {
  display: block;
}

.sub-menu {
  width: 150px;
  position: absolute;
  top: 100%;
  background: #ffffff;
  border: 1px solid #dddddd;
  left: 15%;
  display: none;
}

.sub-menu > li:hover {
  background: #f5f5f5;
}

.menu li > .icon {
  position: absolute;
  top: 50%;               
  left: 90%;
  transform: translateY(-50%);
  color: #555555;

}

.menu li:hover > a {
  color: #d62828;
}

.sub-menu .sub-menu {
  top: 0;
  left: 100%;
  display: none;
}


