* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 62.5%;
}

.header-bar .header-bar--content {
  position: fixed;
  inset: 0;
  /* top: 0; */
  max-width: 70%;
  height: 5rem;
  background: #ffffff;
  color: #334155;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 9999rem;
}

.header-bar--content img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* .header-bar--content nav {
  flex: 1;
} */

nav .menu {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  line-height: 1.3;
}

.menu > li  {
  margin: 0 1.375rem;
  /* height: 100%; */
}

.menu li {
  /* width: 100%; */
  font-size: 1rem;
  position: relative;  
}

.menu a {
  color: #334155;
}

.menu > li > a {
  padding: 1rem 1.25rem; 
  display: flex;
  align-items: center;
}

.menu > li:hover {
  background: #f4e8ff;
  border-radius: 1.5rem;
}

.menu li:hover > a {
  color: #6b21a8;
}

.menu .sub-menu {
  position: absolute;
  width: 11.250rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625rem;
  background: #ffffff;
  border-radius: 0.875rem;
  border: 0.001rem solid rgba(192, 132, 252, 0.3);
  line-height: 1.3;
  display: none;

}

.menu li:hover > .sub-menu {
  display: block;
}

.sub-menu > li > a {
  display: inline-block;
  /* width: 100%; */
  padding: 0.75rem;
  line-height: 1.3;
}

.sub-menu > li:hover {
  background: #f4e8ff;
  border-radius: 1rem;
}

.menu .arrow-down {
  border-width: 0.3125rem 0.3125rem 0 0.3125rem;
  border-style: solid;
  border-color: currentColor transparent transparent transparent;
  margin-left: 10px ;
}

.sub-menu li:hover >span {
  color: #6b21a8;
}

.sub-menu .sub-menu {
  position: absolute;
  /* width: 10rem; */
  top: 0;
  left: 50%;
  transform: translateX(50%);
  line-height: 1.2;
}

.sub-menu .sub-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;      
  width: 15px;      
  height: 100%;
}

.menu .arrow-right {
  border-width: 0.3125rem 0 0.3125rem 0.3125rem;
  border-style: solid;
  border-color: transparent transparent transparent currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90%;
}

.header-bar--content--btn{
  /* width: 15rem; */
  display: flex;
  justify-content: space-between;
}

.header-bar--content--btn .btn {

  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 999rem;
}

.btn-login {
  border: 1px solid #e2e8f0;
  background: transparent;
}

.btn-login:hover {
  border: 1px solid #a855f7;
  background-color: rgba(168, 85, 247, 0.1);
}

.btn-learn {
  margin-left: 20px;
  border: none;
  background: #a855f7;
  color: #fff;
}

.btn-learn:hover {
  background: #9a3cf3f7;
}



.container {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop");
  background-size: cover;
  padding: 2rem;
}

.container .container-content {
  margin: 5rem 2em;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
}

.heading .title {
  font-size: 4rem;
  color: #1e293b;
  font-weight: 700;
}

.heading .title .highlight {
  color: #c084fc;
}

.heading .des-heading {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 2rem;
  color: #334155;
}

.content .btn {
  margin-top: 2rem;
}
.content .btn-cta {
  background: #a855f7;
  color: #ffffff;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
  border-radius: 999rem;
}

.content .btn-cta:hover {
  cursor: pointer;
  background-color: #9333ea;
}

.content .btn-second {
  background: #f05123;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.125rem;
  border-radius: 999rem;
  margin-left: 1rem;
}

.content .btn-second:hover {
  cursor: pointer;
  background-color: #d8431c;
}

.btn .modal-overlay {
  position: fixed;
  inset: 0;
  margin: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
}
.btn > input {
  display: none;
}

/* modal-dialog-cta */

.btn #modal-cta:checked ~ .modal-overlay[for="modal-cta"],
.btn #modal-second:checked ~ .modal-overlay[for="modal-second"] {
  display: block;
}

.btn .modal-dialog-cta {
  position: fixed;
  width: 30rem;
  height: 25rem;
  inset: 0;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: none;
  font-size: 1rem;
  z-index: 1;
}

#modal-cta:checked ~ .modal-dialog-cta {
  display: block;
}

.modal-heading h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

.btn .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  background: #fff;
  border: none;
}

.modal-dialog-cta .modal-body {
  margin-top: 1rem;
}

.modal-body .item-list {
  display: block;
  text-align: left;
}

.modal-dialog-cta .modal-footer {
  margin-top: 2rem;
}

.modal-footer .btn-startnow {
  background: #a855f7;
  color: #ffffff;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
  border-radius: 999rem;
  margin-bottom: 1rem;
}

.modal-footer .start a {
  color: #a855f7;
}

.modal-footer .start a:hover {
  text-decoration: underline;
}

/* modal-dialog-second */

.btn .modal-dialog-second {
  position: fixed;
  width: 30rem;
  height: 50rem;
  inset: 0;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: none;
  font-size: 1rem;
  z-index: 1;
}

#modal-second:checked ~ .modal-dialog-second {
  display: block;
}

.modal-dialog-second .modal-body {
  text-align: left;
}

.modal-body .form-group {
  margin: 2rem auto;
}

.form-group .form {
  font-weight: 600;
}

.form-group > span {
  color: red;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 1rem;
  background: #f8fafc;
  border: 0.1rem solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 15px;
}
.tooltip-form input[type="checkbox"] {
  margin: 0.5rem 0;
}
.form-group .tooltip-form {
  position: relative;
  width: 100%;
}

.tooltip-form .tooltip {
  position: absolute;
  top: -150%;
  background: #1e293b;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: none;
}

.tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #1e293b transparent transparent transparent;
  bottom: -0.5rem;
  left: 1rem;
  /* opacity: 0; */
}

.tooltip-form:hover .tooltip {
  /* opacity: 1; */
  display: block;
}

.btn-advise-now {
  background: #f05123;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.125rem;
  border-radius: 999rem;
  display: block;
  margin: auto;
}

.content .avatar {
  margin-top: 3rem;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid rgba(192, 132, 252, 0.6);
  border-radius: 50%;
}

.content .des-avatar {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #334155;
}

.content .des-avatar span {
  color: #a855f7;
}

.content #toggle-color {
  margin-top: 2rem;
}

.content #toggle-color + label {
  font-size: 1.125rem;
  font-weight: 600;
  color: #334155;
}

.content #toggle-color:checked ~ .advice {
  background: rgba(192, 132, 252, 0.35);
  color: #6b21a8;
}
.content .advice {
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 1rem;
  color: #334155;
}
.content .title-advice {
  padding-top: 1rem;
  font-size: 1.375rem;
  font-weight: 700;
}

.content .des-advice {
  /* margin-top: 1rem; */
  font-size: 1.125rem;
  font-weight: 400;
  padding: 1rem;
}

.content .feature {
  margin-top: 2rem;
  color: #334155;
}
.content .feature_item {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 3rem;
}

/* .content .feature_item img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
} */

.content img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.content .questionFAQ {
  max-width: 50rem;
  margin: 3rem auto;
  color: #334155;
  font-size: 1rem;
}

.questionFAQ input {
  display: none;
}

.questionFAQ .title-questionFAQ {
  font-weight: 600;
  font-size: 1.25rem;
}
.questionFAQ .list-FAQ {
  margin: 2rem auto;
  text-align: left;
}

.list-FAQ .ques-FAQ {
  font-weight: 600;
}

.ques-FAQ {
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  border: 0.1rem solid rgba(192, 132, 252, 0.3);
  font-weight: 600;
  cursor: pointer;
}

.ques-FAQ:hover {
  background: rgba(192, 132, 252, 0.15);
}

.ques-FAQ .icon {
  position: absolute;
  right: 1.5rem;
}

.plus {
  display: inline;
}

.minus {
  display: none;
}

.questionFAQ input:checked + .ques-FAQ .plus {
  display: none;
}

.questionFAQ input:checked + .ques-FAQ .minus {
  display: inline;
}

.list-FAQ .answer-FAQ {
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 1rem 1rem;
  border: 0.1rem solid rgba(192, 132, 252, 0.3);
  display: none;
}

.questionFAQ input:checked ~ .ques-FAQ {
  border-radius: 1rem 1rem 0 0;
}

.questionFAQ input:checked ~ .answer-FAQ {
  display: block;
}

.footer {
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.35);
  border-top: 0.1rem solid rgba(192, 132, 252, 0.6);
}
.footer p {
  text-align: center;
  padding: 3rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}
