*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 62.5%;
}

.container {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop');
    padding: 2rem;
}

.container .container-content {
    padding: 2rem ;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
}

.heading .title {
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
}

.heading .title .highlight {
    color: #c084fc;
}

.heading .des-heading {
    font-size: 1.25rem;
    font-weight: 400;
    padding:0 2rem ;
    color: #334155;
}

.content .btn {
    margin-top: 2rem;
}
.content .btn-cta {

    background: #a855f7;
    color: #ffffff;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    border-radius: 999rem;
}

.content .btn-cta:hover {
    cursor: pointer;
    background-color: #9333ea;
}

.content .btn-second {
    background: #f05123;
    color: #ffffff;
    border: none;
    padding: 1rem 3rem;
    font-size: 1.125rem;
    border-radius: 999rem;
    margin-left: 1rem;
}

.content .btn-second:hover {
    cursor: pointer;
    background-color: #d8431c;
}

.btn .modal-dialog {
    width: 20rem;
    height: 20rem;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto ;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}


.btn .modal-dialog .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    border: none;
}

.btn .modal-body .item-list {
    display: block;
    text-align: left;

}


.content .avatar {
    margin-top: 3rem;
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid rgba(192, 132, 252, 0.6);
    border-radius: 50%; 
}

.content .des-avatar {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #334155;
}

.content .des-avatar span {
    color: #a855f7;
}

.content #toggle-color {
    margin-top: 2rem;
}

.content #toggle-color + label {
    font-size: 1.125rem;
    font-weight: 600;
    color: #334155;
}

.content #toggle-color:checked ~ .advice {
    background: rgba(192, 132, 252, 0.35);
    color: #6b21a8;

}
.content .advice {
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 1rem;
    color: #334155;
}
.content .title-advice {
    padding-top: 1rem;
    font-size: 1.375rem;
    font-weight: 700;
}

.content .des-advice {
    /* margin-top: 1rem; */
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1rem ;
}

.content .feature {
    margin-top: 2rem;
    color: #334155;
}
.content .feature_item {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 3rem;
    
}

/* .content .feature_item img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
} */

.content img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.content .questionFAQ {
    margin-top: 3rem;
    color: #334155;
}
.content .questionFAQ .list-FAQ{
    width: 50rem;
    height: 5rem;
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 1rem;
    color: #334155;
}

.footer {
    margin-top: 3rem;
    background: rgba(255, 255, 255, 0.35);
    border-top:0.1rem solid rgba(192, 132, 252, 0.6);
}
.footer p{
    text-align: center;
    padding: 3rem 0 1rem 0;
    font-size: 1rem;
    font-weight: 400;
}

